:root {
  --primary-color: #E82077;
  --secondary-color: #1C1F2A;
  --aplication-width: 90%;
  --properties-width: 500px;
  --result-width: 600px;
  --preview-height: 400px;
  --box-size: 200px;
  --border-primary: 1px solid rgb(209, 213, 219);
  --background-preview: rgb(243, 244, 246);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: grid;
  place-items: center;
  gap: 1rem;
  width: 100vw;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  #app {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.application {
  width: var(--aplication-width);
}

@media screen and (min-width: 992px) {
  .application {
    width: auto;
  }
}

.application__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  border: var(--border-primary);
  border-radius: 1rem;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .application__content {
    flex-direction: row;
  }
}

.application__footer {
  text-align: center;
}

.application__footer span {
  margin-right: .25rem;
}

.application__footer img {
  height: 2rem;
}

.application__properties {
  order: 2;
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .application__properties {
    order: 1;
    width: var(--properties-width);
    border-right: var(--border-primary);
  }
}

.application__header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: var(--primary-color);
  border-bottom: var(--border-primary);
}

.application__header h1 {
  margin-bottom: 0;
}

.application__result {
  order: 1;
  width: 100%;
  border-bottom: var(--border-primary);
}

@media screen and (min-width: 992px) {
  .application__result {
    display: flex;
    flex-direction: column;
    order: 2;
    width: var(--result-width);
    border-bottom: none;
  }
}

.application__preview {
  display: grid;
  place-items: center;
  height: var(--preview-height);
  background-color: var(--background-preview);
  border-bottom: var(--border-primary);
}

@media screen and (min-width: 992px) {
  .application__preview {
    flex-grow: 1;
    height: auto;
  }
}

.application__generated {
  display: flex;
  gap: .5rem;
  padding: 1rem;
}

.application__code {
  flex-grow: 1;
  padding: .5rem 1rem;
  border: var(--border-primary);
  border-radius: .5rem;
}

.application__copy {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: var(--border-primary);
  border-radius: .5rem;
  padding: .5rem 1rem;
  transition: all .3s ease;
}

.application__copy:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.application__copy:hover svg {
  fill: var(--primary-color);
}

.application__copy svg {
  height: 1rem;
  margin-left: .5rem;
  transition: all .3s ease;
}

.application__box {
  width: var(--box-size);
  height: var(--box-size);
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

.property {

}

.property:not(:last-child) {
  margin-bottom: .75rem;
}

@media screen and (min-width: 992px) {
  .property:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.property__group {

}

@media screen and (min-width: 992px) {
  .property__group {
    display: flex;
    gap: 1rem;
  }
}

.property__group .property {

}

@media screen and (min-width: 992px) {
  .property__group .property {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.property__header {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;
}

.property__name {
  flex: 1 0 auto;
}

.property__input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 auto;
}

.property__input input + span {
  margin-left: .5rem;
}

.property__input input[type=number] {
  width: 80px;
}

.property__input input[type=text] {
  width: auto;
}

.property__range {

}

.property__range input[type="range"]::-webkit-slider-thumb {
  background-color: var(--primary-color);
}

.property__color input {
  width: 100%;
}
