@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --theme-color-1: #e82077;
  --theme-color-1-dark: #b31258;
  --theme-color-2: #1c1f2a;
  --theme-gray-1: #f3f4f6;
  --theme-gray-2: #e2e0e6;
  --theme-dark-1: #13151a;
  --theme-dark-2: #262b33;
  --theme-dark-3: #39404d;
  --theme-dark-4: #4d5666;
  --aplication-width: 90%;
  --properties-width: 500px;
  --result-width: 600px;
  --preview-height: 400px;
  --box-size: 200px;
  --default-border: 1px solid var(--theme-gray-2);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* ========================================
  Form Control
======================================== */

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--theme-color-2);
  background-clip: padding-box;
  border: var(--default-border);
  border-radius: 0.375rem;
  transition: all 150ms ease-in-out;
}

.form-control:focus-visible {
  outline: 1px solid var(--theme-color-1);
}

.form-control[type="number"] {
  width: 62px;
}

.form-control[type="text"] {
  width: 90px;
}

/* ========================================
  Form Range
======================================== */

.form-range {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 150ms ease-in-out;
}

.form-range:focus {
  outline: 0;
}

.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(237, 87, 153, 0.25);
}

.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(237, 87, 153, 0.25);
}

.form-range:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(237, 87, 153, 0.25);
}

.form-range::-moz-focus-outer {
  border: 0;
}

.form-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: var(--theme-color-1);
  border: 0;
  border-radius: 1rem;
  -webkit-transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

.form-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: var(--theme-color-1);
  border: 0;
  border-radius: 1rem;
  -moz-transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
  appearance: none;
}

.form-range::-webkit-slider-thumb:active {
  background-color: var(--theme-color-1-dark);
}

.form-range::-moz-range-thumb:active {
  background-color: var(--theme-color-1-dark);
}

.form-range::-ms-thumb:active {
  background-color: var(--theme-color-1-dark);
}

.form-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: var(--theme-gray-2);
  border-color: transparent;
  border-radius: 1rem;
  transition: all 150ms ease-in-out;
}

.form-range::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: var(--theme-gray-2);
  border-color: transparent;
  border-radius: 1rem;
  transition: all 150ms ease-in-out;
}

/* ========================================
  Form Color
======================================== */

.form-color {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.form-color::-webkit-color-swatch-wrapper {
  padding: 0;
}

.form-color::-webkit-color-swatch {
  border: none;
  border-radius: 0.375rem;
}

/* ========================================
  Color Mode
======================================== */
.color-mode {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.color-mode__checkbox {
  display: none;
}

.color-mode__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 34px;
  transition: 0.4s;
}

.color-mode__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--theme-gray-2);
  border-radius: 50%;
  transition: 0.4s;
}

.color-mode__checkbox:checked + .color-mode__slider {
  background-color: var(--theme-color-1);
}

.color-mode__checkbox:checked + .color-mode__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
